.footer {
  padding-top: 15px;
  background-color: $sedona-white;
}

.footer__title {
  @include font-general;
  text-align: center;
  font-size: 21px;
  line-height: 1.24;
}

@media (min-width: $tablet-width) {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px 10px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding: 0 120px 10px;
  }
}
