.logo-wrap {
  position: relative;
  height: 158px;
  display: flex;
  justify-content: center;
  background-color: $sedona-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
}

.logo-wrap::after {
  position: absolute;
  content: "";
  width: 100%;
  min-width: 320px;
  height: 57px;
  left: 0;
  bottom: 0;
  background-image: url("../img/bg-intro-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.logo-wrap--index {
  height: 389px;
  background-position: center bottom, center;
  background-size: cover;
}

.logo-wrap__image {
  position: absolute;
  top: -56px;
  width: 102px;
  left: calc((100% - 102px) / 2);
}

.logo-wrap__text {
  padding-top: 52px;
}

.logo-wrap__text--index {
  padding-top: 90px;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .logo-wrap {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .logo-wrap {
    height: 290px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center bottom, center bottom;
    background-size: 100% auto, cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .logo-wrap--index {
    height: 518px;
  }

  .logo-wrap__text {
    width: 458px;
    height: 78px;
    padding-top: 95px;
  }

  .logo-wrap__text--index {
    width: 460px;
    height: 350px;
    padding-top: 77px;
  }
}

@media (min-width: $desktop-width) {
  .logo-wrap {
    height: 301px;
    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .logo-wrap--index {
    height: 518px;
  }

  .logo-wrap__image {
    width: 244px;
    height: 96px;
    left: calc((100% - 244px) / 2);
  }

  .logo-wrap__text {
    width: 461px;
    height: 80px;
    padding-top: 101px;
  }

  .logo-wrap__text--index {
    width: 460px;
    height: 350px;
    padding-top: 78px;
  }
}
