.map {
  position: relative;
}

.map iframe {
  width: 100%;
  height: 350px;
}

.map__img-nojs {
  position: absolute;
  z-index: 2;
  height: 350px;
  width: 100%;
  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
}

.map__marker-nojs {
  position: absolute;
  z-index: 3;
  height: 27px;
  width: 27px;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
}

.map__marker-nojs--closed,
.map__img-nojs--closed {
  display: none;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .map__img-nojs {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .map__img-nojs {
    background-image: url("../img/bg-map-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .map__img-nojs {
    background-image: url("../img/bg-map-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }
}
