$sedona-blue: rgb(129, 179, 210);
$sedona-white: rgb(255, 255, 255);
$sedona-grey: rgb(239, 239, 239);
$sedona-grey-sides: rgb(243, 243, 243);
$sedona-grey-font: rgb(51, 51, 51);
$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
